.black-editor {
    background-color: #000;
    color: #fff;
  }
  .layout {
    background-color: var(--semantic-background-color-primary);
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .layout .content {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 48px;
    position: relative;
    width: 100%;
  }
  
  .layout .column {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .layout .section-title {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
    width: 100%;
  }
  
  .layout .icon-relume {
    height: 48px !important;
    position: relative !important;
    width: 48px !important;
  }
  
  .layout .div {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
    width: 100%;
  }
  
  .layout .heading {
    align-self: stretch;
    color: var(--semantic-text-primary);
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    letter-spacing: 0;
    margin-top: -1px;
    position: relative;
  }
  
  .layout .text {
    align-self: stretch;
    color: var(--semantic-text-primary);
    font-family: var(--text-regular-normal-font-family);
    font-size: var(--text-regular-normal-font-size);
    font-style: var(--text-regular-normal-font-style);
    font-weight: var(--text-regular-normal-font-weight);
    letter-spacing: var(--text-regular-normal-letter-spacing);
    line-height: var(--text-regular-normal-line-height);
    position: relative;
  }
  
  .layout .actions {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 24px;
    padding: 16px 0px 0px;
    position: relative;
  }
  
  .layout .style-secondary-small-false-dark-mode-false-icon-position-no-icon {
    flex: 0 0 auto !important;
    margin-bottom: -1px !important;
    margin-left: -1px !important;
    margin-top: -1px !important;
  }
  
  .layout .instance-node {
    font-family: "Roboto-Regular", Helvetica !important;
    font-size: 16px !important;
    font-style: unset !important;
    font-weight: 400 !important;
    letter-spacing: 0 !important;
    line-height: 24px !important;
  }
  
  .layout .style-link-small-instance {
    flex: 0 0 auto !important;
  }
  
  .layout .icon-chevron-right {
    height: 24px !important;
    position: relative !important;
    width: 24px !important;
  }
  
  .layout .style-secondary-2 {
    align-items: center;
    border: 1px solid;
    border-color: var(--primitive-color-brand-black);
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    justify-content: center;
    margin-bottom: -1px;
    margin-left: -1px;
    margin-top: -1px;
    padding: 12px 24px;
    position: relative;
  }
  
  .layout .text-wrapper {
    color: var(--semantic-text-primary);
    font-family: "Roboto-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .layout .style-link-small-2 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    justify-content: center;
    position: relative;
  }
  
  .layout .column-2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .layout .section-title-2 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
    width: 100%;
  }
  
  .layout .content-2 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
    width: 100%;
  }
  
  .layout .p {
    align-self: stretch;
    color: var(--semantic-text-primary);
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    letter-spacing: 0;
    margin-top: -1px;
    position: relative;
  }
  
  .layout .column-3 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .layout .section-title-3 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
    width: 100%;
  }
  
  .layout .content-3 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
    width: 100%;
  }
  
  .layout .heading-2 {
    align-self: stretch;
    color: var(--semantic-text-primary);
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    letter-spacing: 0;
    margin-top: -1px;
    position: relative;
  }
  
  .layout.mobile {
    align-items: center;
    gap: 48px;
    padding: 64px 20px;
    width: 375px;
  }
  
  .layout.desktop {
    align-items: flex-start;
    gap: 80px;
    padding: 112px 64px;
    width: 1440px;
  }
  
  .layout.mobile .content {
    flex-direction: column;
  }
  
  .layout.mobile .column {
    align-self: stretch;
    flex: 0 0 auto;
    gap: 8px;
    width: 100%;
  }
  
  .layout.desktop .column {
    flex: 1;
    flex-grow: 1;
    gap: 24px;
  }
  
  .layout.mobile .section-title {
    gap: 20px;
  }
  
  .layout.desktop .section-title {
    gap: 24px;
  }
  
  .layout.mobile .div {
    gap: 20px;
  }
  
  .layout.desktop .div {
    gap: 24px;
  }
  
  .layout.mobile .heading {
    font-size: 24px;
    line-height: 33.6px;
  }
  
  .layout.desktop .heading {
    font-size: 32px;
    line-height: 41.6px;
  }
  
  .layout.mobile .column-2 {
    align-self: stretch;
    flex: 0 0 auto;
    gap: 8px;
    width: 100%;
  }
  
  .layout.desktop .column-2 {
    flex: 1;
    flex-grow: 1;
    gap: 24px;
  }
  
  .layout.mobile .section-title-2 {
    gap: 20px;
  }
  
  .layout.desktop .section-title-2 {
    gap: 24px;
  }
  
  .layout.mobile .content-2 {
    gap: 20px;
  }
  
  .layout.desktop .content-2 {
    gap: 24px;
  }
  
  .layout.mobile .p {
    font-size: 24px;
    line-height: 33.6px;
  }
  
  .layout.desktop .p {
    font-size: 32px;
    line-height: 41.6px;
  }
  
  .layout.mobile .column-3 {
    align-self: stretch;
    flex: 0 0 auto;
    gap: 8px;
    width: 100%;
  }
  
  .layout.desktop .column-3 {
    flex: 1;
    flex-grow: 1;
    gap: 24px;
  }
  
  .layout.mobile .section-title-3 {
    gap: 20px;
  }
  
  .layout.desktop .section-title-3 {
    gap: 24px;
  }
  
  .layout.mobile .content-3 {
    gap: 20px;
  }
  
  .layout.desktop .content-3 {
    gap: 24px;
  }
  
  .layout.mobile .heading-2 {
    font-size: 24px;
    line-height: 33.6px;
  }
  
  .layout.desktop .heading-2 {
    font-size: 32px;
    line-height: 41.6px;
  }
  